* {
	box-sizing: border-box;
}

body {
	margin: auto;
	padding: 10px;
	background: linear-gradient(90deg, #ede053, #97ff05 23% 77%, #ede053);
}

.field {
	width: 1050px;
	height: 750px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}

.excel {
	width: 50px;
	height: 50px;
	padding: 2px;
}

.alpaca {
	background: url(../img/alpa.png);
	background-size: cover;
	border-radius: 15%;
}

.snakeBody {
	background: url(../img/body.png);
	background-size: 110%;
	border-radius: 40%;
	border: 2px solid #000;
}

.head {
	background: url(../img/head.png);
	background-size: cover;
	border-radius: 10%;
	border: 0px;
}

.mouse {
	background: url(../img/mouse.png);
	background-size: cover;
	border-radius: 15%;
}