* {
	box-sizing: border-box;
}

body {
	margin: auto;
	background: linear-gradient(90deg, #ede053, #97ff05 32% 68%, #ede053);
}

.field {
	width: 828px;
	height: 529px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}

.excel {
	width: 23px;
	height: 23px;
	padding: 2px;
}

.snakeBody {
	background: url(../icons/body.png);
	background-size: cover;
	border-radius: 40%;
	border: 2px solid #000;
}

.head {
	background: url(../icons/head.png);
	background-size: cover;
	border-radius: 10%;
	border: 0px;
}

.mouse {
	background: url(../icons/mouse.png);
	background-size: cover;
	border-radius: 15%;
}

.alpaca {
	background: url(../icons/alpa.png);
	background-size: cover;
	border-radius: 15%;
}
